{% extends 'base.html' %}
{% block title %}
    朕会玩旅游网-关于页面
{% endblock %}
{% block banner %}
    {% include '_nav.html'%}
{% endblock %}
{% block main %}
    <!--关于我们开始-->
    <div class="about-section">
        <div class="container">
            <h5 class="tittle-w3">关于我们</h5>
            <div class="about-top">
                <h3 class="subheading-wthree">简介</h3>
                <p class="para-w3l">
                    北欧3国传奇之旅：挪威4大峡湾+大西洋出海海钓+大西洋之路+登顶布道石+弗洛姆高山火车+布里克斯达尔冰川（含1段内陆机票，入住2晚峡湾景观酒店）
                </p>
                <p>
                    <a class="read" href="single.html">阅读更多</a>
                </p>
            </div>


            <div class="about-main">
                <div class="about-w3-left">
                    <div class="about-img">
                    </div>
                    <div class="about-bottom">
                        <p class="para-w3l white-clr">
                            为什么选择我们
                        </p>
                    </div>
                </div>

                <div class="about-w3ls-right">
                    <h3 class="subheading-wthree">丰富的旅游线路</h3>
                    <p class="para-w3l">共300多条可供选择的旅游线路,地球无处不可去</p>
                    <ul>
                        <li>
                            <span class="fa fa-check-square-o" aria-hidden="true"></span>
                            丰富的旅游线路
                        </li>
                        <li>
                            <span class="fa fa-check-square-o" aria-hidden="true"></span>
                            遍及全球的合作伙伴
                        </li>
                        <li>
                            <span class="fa fa-check-square-o" aria-hidden="true"></span>
                            强大的签证系统
                        </li>
                        <li>
                            <span class="fa fa-check-square-o" aria-hidden="true"></span>
                            实惠的价格
                        </li>
                        <li>
                            <span class="fa fa-check-square-o" aria-hidden="true"></span>
                            经验丰富的导游团队
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--关于我们结束-->


    <!--统计数据开始-->
    <div class="count-agileits">
        <div class="count-grids">
            <h3 class="tittle-w3 white-clr">我们的成绩</h3>
            <div class="count-bgcolor-w3ls">
                <div class="col-md-4 count-grid">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <div class="count hvr-bounce-to-bottom">
                        <div class="numscroller counter">1052</div>
                        <span></span>
                        <h5>合作伙伴</h5>
                    </div>
                </div>
                <div class="col-md-4 count-grid">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <div class="count hvr-bounce-to-bottom">
                        <div class="numscroller counter">372</div>
                        <span></span>
                        <h5>精品线路</h5>
                    </div>
                </div>
                <div class="col-md-4 count-grid">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <div class="count hvr-bounce-to-bottom">
                        <div class="numscroller counter">105209</div>
                        <span></span>
                        <h5>忠实用户</h5>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--统计数据结束-->


    <!-- 我们的团队开始 -->
    <div class="team" id="team">
        <div class="container">
            <h3 class="tittle-w3">我们的团队</h3>
            <div class="agile_team_grids">
                <!-- 团队盒子开始-->
                <div class="col-md-3 agile_team_grid">
                    <div class="agile_team_grid_main">
                        <img src="/static/images/t1.jpg" alt=" " class="img-responsive"/>
                    </div>
                    <div class="agile_team_grid1">

                        <h4>孙悟空</h4>
                        <span class="designation">大师兄</span>
                        <p class="para-w3l">花果山水帘洞美猴王</p>
                        <ul class="top-icons team-icon">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 团队盒子结束-->
                <!-- 团队盒子开始-->
                <div class="col-md-3 agile_team_grid">
                    <div class="agile_team_grid_main">
                        <img src="/static/images/t1.jpg" alt=" " class="img-responsive"/>
                    </div>
                    <div class="agile_team_grid1">

                        <h4>孙悟空</h4>
                        <span class="designation">大师兄</span>
                        <p class="para-w3l">花果山水帘洞美猴王</p>
                        <ul class="top-icons team-icon">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 团队盒子结束-->
                <!-- 团队盒子开始-->
                <div class="col-md-3 agile_team_grid">
                    <div class="agile_team_grid_main">
                        <img src="/static/images/t1.jpg" alt=" " class="img-responsive"/>
                    </div>
                    <div class="agile_team_grid1">

                        <h4>孙悟空</h4>
                        <span class="designation">大师兄</span>
                        <p class="para-w3l">花果山水帘洞美猴王</p>
                        <ul class="top-icons team-icon">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 团队盒子结束-->
                <!-- 团队盒子开始-->
                <div class="col-md-3 agile_team_grid">
                    <div class="agile_team_grid_main">
                        <img src="/static/images/t1.jpg" alt=" " class="img-responsive"/>
                    </div>
                    <div class="agile_team_grid1">

                        <h4>孙悟空</h4>
                        <span class="designation">大师兄</span>
                        <p class="para-w3l">花果山水帘洞美猴王</p>
                        <ul class="top-icons team-icon">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 团队盒子结束-->

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- 我们的团队结束 -->
{% endblock %}