{%extends 'base.html'%}
{% block title %}
朕会玩旅游网-相册页面
{% endblock %}
{% block banner %}
{% include '_nav.html'%}
{% endblock %}
{% block main %}
<!--相册页面开始-->
<div class="gallery">
  <div class="container">
    <h2 class="tittle-w3">相册</h2>
    <div class="gallery-grids">
      <!--相册盒子开始-->
      <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
        <div class="grid">
          <figure class="effect-apollo">
            <a href="">
              <img src="/static/images/g1.jpg" alt=""/>
              <figcaption>
                <h3>相册名字</h3>
                <p>相册作者</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!--相册盒子结束-->

      <!--相册盒子开始-->
      <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
        <div class="grid">
          <figure class="effect-apollo">
            <a href="">
              <img src="/static/images/g1.jpg" alt=""/>
              <figcaption>
                <h3>相册名字</h3>
                <p>相册作者</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!--相册盒子结束-->

      <!--相册盒子开始-->
      <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
        <div class="grid">
          <figure class="effect-apollo">
            <a href="">
              <img src="/static/images/g1.jpg" alt=""/>
              <figcaption>
                <h3>相册名字</h3>
                <p>相册作者</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!--相册盒子结束-->

      <!--相册盒子开始-->
      <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
        <div class="grid">
          <figure class="effect-apollo">
            <a href="">
              <img src="/static/images/g1.jpg" alt=""/>
              <figcaption>
                <h3>相册名字</h3>
                <p>相册作者</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!--相册盒子结束-->

      <!--相册盒子开始-->
      <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
        <div class="grid">
          <figure class="effect-apollo">
            <a href="">
              <img src="/static/images/g1.jpg" alt=""/>
              <figcaption>
                <h3>相册名字</h3>
                <p>相册作者</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!--相册盒子结束-->

      <!--相册盒子开始-->
      <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
        <div class="grid">
          <figure class="effect-apollo">
            <a href="">
              <img src="/static/images/g1.jpg" alt=""/>
              <figcaption>
                <h3>相册名字</h3>
                <p>相册作者</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!--相册盒子结束-->

      <!--相册盒子开始-->
      <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
        <div class="grid">
          <figure class="effect-apollo">
            <a href="">
              <img src="/static/images/g1.jpg" alt=""/>
              <figcaption>
                <h3>相册名字</h3>
                <p>相册作者</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!--相册盒子结束-->

      <!--相册盒子开始-->
      <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
        <div class="grid">
          <figure class="effect-apollo">
            <a href="">
              <img src="/static/images/g1.jpg" alt=""/>
              <figcaption>
                <h3>相册名字</h3>
                <p>相册作者</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!--相册盒子结束-->

      <!--相册盒子开始-->
      <div class="col-md-4 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
        <div class="grid">
          <figure class="effect-apollo">
            <a href="index.html">
              <img src="/static/images/g1.jpg" alt=""/>
              <figcaption>
                <h3>相册名字</h3>
                <p>相册作者</p>
              </figcaption>
            </a>
          </figure>
        </div>
      </div>
      <!--相册盒子结束-->


      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--相册页面结束-->
{% endblock %}