{%extends 'base.html'%}
{% block title %}
朕会玩旅游网-服务页面
{% endblock %}
{% block banner %}
{% include '_nav.html'%}
{% endblock %}
{% block main %}
<!--为什么选择我们开始-->
<div class="features">
  <div class="container">
    <div class="features-heading">
      <h2 class="tittle-w3">为什么选择我们</h2>
    </div>
    <div class="features-grids">
      <div class="features-right">
        <div class="col-md-4 features-right-grids">
          <div class="features-right-left">
            <div class="features-right-icon effect-2">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <h3 class="subheading-wthree">丰富的旅游线路</h3>
            <p class="para-w3l">
              共300多条可供选择的旅游线路,地球无处不可去
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 features-right-grids">
          <div class="features-right-left">
            <div class="features-right-icon effect-2">
              <i class="fa fa-asterisk" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <h3 class="subheading-wthree">遍及全球的合作伙伴</h3>
            <p class="para-w3l">
              合作伙伴非常多,覆盖多个领域,所以入住酒店价格,交通等,都十分便宜
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-4 features-right-grids">
          <div class="features-right-left">
            <div class="features-right-icon effect-2">
              <i class="fa fa-inr" aria-hidden="true"></i>
            </div>
          </div>
          <div class="features-right-right">
            <h3 class="subheading-wthree">强大的签证系统</h3>
            <p class="para-w3l">
              出国最复杂的就是签证办理,有了我们强大的签证系统支撑,出国不再是难事
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--为什么选择我们结束-->


<!--营销模块开始-->
<div class="services-w3layouts">
  <div class="agitsworkw3ls-grid ">
    <div class="features-img"></div>
    <div class="services-left-w3-agile">
      <h3 class="sub-head">我们的产品</h3>
      <ul>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>住宿
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>交通
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>导游
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>假期
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>旅游
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>预定
        </li>
      </ul>
    </div>
    <div class="services-right-w3-agile">
      <h3 class="sub-head">为什么选择我们</h3>
      <ul>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>皇家假期计划
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>详细的游轮旅程
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>七大洲,无限可能
        </li>
        <li>
          <i class="fa fa-check" aria-hidden="true"></i>个性化服务
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="agitsworkw3ls-grid-2">
    <div class="info-imgs">
      <ul>
        <li>
          <div class="gallery-grid1">
            <a href="single.html">
              <img src="/static/images/p1.jpg" alt=" " class="img-responsive">
            </a>
            <div class="p-mask">
              <h4>图片标题</h4>
              <p>图片描述</p>
            </div>
          </div>
        </li>
        <li>
          <div class="gallery-grid1">
            <a href="single.html">
              <img src="/static/images/p2.jpg" alt=" " class="img-responsive">
            </a>
            <div class="p-mask">
              <h4>图片标题</h4>
              <p>图片描述</p>
            </div>
          </div>
        </li>
        <li>
          <div class="gallery-grid1">
            <a href="single.html">
              <img src="/static/images/p3.jpg" alt=" " class="img-responsive">
            </a>
            <div class="p-mask">
              <h4>图片标题</h4>
              <p>图片描述</p>
            </div>
          </div>
        </li>
        <li>
          <div class="gallery-grid1">
            <a href="single.html">
              <img src="/static/images/p4.jpg" alt=" " class="img-responsive">
            </a>
            <div class="p-mask">
              <h4>图片标题</h4>
              <p>图片描述</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
  <div class="clearfix"></div>
  <!-- //Stats -->
  <div class="clearfix"></div>
</div>
<!--营销模块结束-->


<!--特色服务开始-->
<div class="services">
  <div class="container">
    <h3 class="tittle-w3">特色服务</h3>
    <div class="services-right-agileits">
      <div class="services-services">
        <div class="services-grids">
          <h6>酒店预订</h6>
        </div>
        <div class="services-grids">
          <h6>机票预订</h6>
        </div>
        <div class="services-grids">
          <h6>租车服务</h6>
        </div>
        <div class="services-grids">
          <h6>旅游向导</h6>
        </div>
        <div class="services-grids">
          <h6>旅游保险</h6>
        </div>
        <div class="services-grids">
          <h6>目的地</h6>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<!--特色服务结束-->
{% endblock %}