{%extends 'base.html'%}
{% block title %}
朕会玩旅游网-攻略页面
{% endblock %}
{% block banner %}
{% include '_nav.html'%}
{% endblock %}
{% block main %}
<!--文章列表开始-->
<div class="inner-padding">
  <div class="container">
    <div class="inner-agile-w3l-part-head">
      <h2 class="tittle-w3">
        在这里分享你的旅游心得
      </h2>
    </div>
    <div class="latest-news-agile-info">
      <div class="col-md-8 latest-news-agile-left-content">
        <!--文章开始-->
        <div class="single video_agile_player">

          <div class="video-grid-single-page-agileits">
            <div id="video">
              <img src="/static/images/about.jpg" alt="" class="img-responsive"/></div>
          </div>
          <h4 class="subheading-wthree">文章标题</h4>
          <p>
            文章内容
          </p>
        </div>
        <!--文章结束-->

        <!--作者动态开始-->
        <div class="admin-text">
          <h5>"理想国真恵玩"的动态</h5>
          <div class="admin-text-left">
            <a href="#">
              <img src="/static/images/admin.jpg" alt="">
            </a>
          </div>
          <div class="admin-text-right">
            <p>
              人生苦短,我用Python
            </p>
            <span>查看他(她)的所有动态 :
								<a href="#"> 理想国真恵玩 </a>
							</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <!--作者动态结束-->

        <!--评论列表开始-->
        <div class="response">
          <h4>评论列表</h4>
          <!--评论盒子开始-->
          <div class="media response-info">
            <div class="media-left response-text-left">
              <a href="#">
                <img class="media-object" src="/static/images/admin.jpg" alt="">
              </a>
              <h5>
                <a href="#">理想国真恵玩</a>
              </h5>
            </div>
            <div class="media-body response-text-right">
              <p>
                攻略写的很好,赞一个
              </p>
              <ul>
                <li>2019年7月18日</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <!--评论盒子结束-->
          <!--评论盒子开始-->
          <div class="media response-info">
            <div class="media-left response-text-left">
              <a href="#">
                <img class="media-object" src="/static/images/admin.jpg" alt="">
              </a>
              <h5>
                <a href="#">理想国真恵玩</a>
              </h5>
            </div>
            <div class="media-body response-text-right">
              <p>
                攻略写的很好,赞一个
              </p>
              <ul>
                <li>2019年7月18日</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <!--评论盒子结束-->
          <!--评论盒子开始-->
          <div class="media response-info">
            <div class="media-left response-text-left">
              <a href="#">
                <img class="media-object" src="/static/images/admin.jpg" alt="">
              </a>
              <h5>
                <a href="#">理想国真恵玩</a>
              </h5>
            </div>
            <div class="media-body response-text-right">
              <p>
                攻略写的很好,赞一个
              </p>
              <ul>
                <li>2019年7月18日</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <!--评论盒子结束-->
          <!--评论盒子开始-->
          <div class="media response-info">
            <div class="media-left response-text-left">
              <a href="#">
                <img class="media-object" src="/static/images/admin.jpg" alt="">
              </a>
              <h5>
                <a href="#">理想国真恵玩</a>
              </h5>
            </div>
            <div class="media-body response-text-right">
              <p>
                攻略写的很好,赞一个
              </p>
              <ul>
                <li>2019年7月18日</li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <!--评论盒子结束-->

        </div>
        <!--评论列表结束-->

        <!--留言开始-->
        <div class="all-comments-info">
          <h5>提交你的评论</h5>
          <div class="agile-info-wthree-box">
            <form action="#" method="post">
              <div class="col-md-12 form-info">
                <textarea placeholder="请输入评论内容" name="message" required=""></textarea>
                <input type="submit" value="确认">
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <!--留言结束-->

      </div>
      <div class="col-md-4 latest-news-agile-right-content">

        <!--搜索开始-->
        <h4 class="side-t-w3l-agile">搜索你感兴趣的内容</h4>
        <div class="side-bar-form">
          <form action="#" method="post">
            <input type="search" name="search" placeholder="请输入搜索内容" required="required">
            <input type="submit" value=" ">
          </form>
          <div class="clearfix"></div>
        </div>
        <!--搜索结束-->

        <!--分类列表开始-->
        <div class="w3l-blog-list">
          <h4 class="side-t-w3l-agile">分类列表</h4>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-long-arrow-right"> </i>欧洲自驾游 (15)</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-long-arrow-right"> </i>欧洲自驾游 (15)</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-long-arrow-right"> </i>欧洲自驾游 (15)</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-long-arrow-right"> </i>欧洲自驾游 (15)</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-long-arrow-right"> </i>欧洲自驾游 (15)</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-long-arrow-right"> </i>欧洲自驾游 (15)</a>
            </li>

          </ul>
        </div>
        <!--分类列表结束-->

        <!--最新文章列表开始-->
        <div class="agile-info-recent">
          <h4 class="side-t-w3l-agile">最新攻略</h4>
          <div class="w3ls-recent-grids">
            <!--攻略盒子开始-->
            <div class="w3l-recent-grid">
              <div class="wom">
                <a href="single.html">
                  <img src="/static/images/p3.jpg" alt=" " class="img-responsive">
                </a>
              </div>
              <div class="wom-right">
                <h5>
                  <a href="single.html">文章标题</a>
                </h5>
                <p>
                  文章简介
                </p>
                <ul class="w3l-sider-list">
                  <li>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>2019年7月18日
                  </li>
                  <li>
                    <i class="fa fa-eye" aria-hidden="true"></i> 3333
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
            <!--攻略盒子结束-->
            <!--攻略盒子开始-->
            <div class="w3l-recent-grid">
              <div class="wom">
                <a href="single.html">
                  <img src="/static/images/p3.jpg" alt=" " class="img-responsive">
                </a>
              </div>
              <div class="wom-right">
                <h5>
                  <a href="single.html">文章标题</a>
                </h5>
                <p>
                  文章简介
                </p>
                <ul class="w3l-sider-list">
                  <li>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>2019年7月18日
                  </li>
                  <li>
                    <i class="fa fa-eye" aria-hidden="true"></i> 3333
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
            <!--攻略盒子结束-->
            <!--攻略盒子开始-->
            <div class="w3l-recent-grid">
              <div class="wom">
                <a href="single.html">
                  <img src="/static/images/p3.jpg" alt=" " class="img-responsive">
                </a>
              </div>
              <div class="wom-right">
                <h5>
                  <a href="single.html">文章标题</a>
                </h5>
                <p>
                  文章简介
                </p>
                <ul class="w3l-sider-list">
                  <li>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>2019年7月18日
                  </li>
                  <li>
                    <i class="fa fa-eye" aria-hidden="true"></i> 3333
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
            <!--攻略盒子结束-->

          </div>
        </div>
        <!--最新文章列表结束-->


      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>
<!--文章列表结束-->
{% endblock %}